.lulu-space {
  align-items: center;
  display: flex;
  gap: var(--lulu-space-3);
}

.lulu-space[data-size='small'] { gap: var(--lulu-space-2); }
.lulu-space[data-size='large'] { gap: var(--lulu-space-4); }
.lulu-space[data-direction='vertical'] { align-items: stretch; flex-direction: column; }
.lulu-space[data-direction='horizontal'][data-wrap='true'] { flex-wrap: wrap; }
